{% extends 'base.html' %}

{% block title %}
    <title>{{ track.name }}</title>
{% endblock %}

{% block content %}
<div>
    <h3 class="title">{{track.name}}</h3>
    <br>
    <button class="long-button" style="padding: 1px 20px;">
        <a href="{% url 'tracks:all' %}" style=" text-decoration: none; color: white;">Back to list view</a>
    </button>
    <br>
</div>
<div class="tracks-details">

    <div class="tracks-container">
        {% for image in track.gallery_image_urls %}
            <img src="{{ image }}" width="1000px" alt="main">
        {% endfor %}
    </div>

    <div class="card tracks-description">
        <div class="card-body">
            <p><strong>Name:</strong> {{ track.name }}</p>
            <p><strong>Location:</strong> {{ track.location }}</p>
            <p><strong>Length:</strong> {{ track.length }} km</p>
            <p><strong>Race day:</strong> {{ track.race_day }}</p>
            {% if request.user.is_authenticated %}
            <p><strong>Times booked so far:</strong> {{ track.bookings.all.count }}</p>
            {% endif %}
        </div>
    </div>
    {% include 'tracks/weather.html' %}
</div>



{% endblock %}
