{% extends 'base.html' %}

{% block title %}
    <title>Circuit selection</title>
{% endblock %}

{% block content %}
<div class="title">
    {% if booking %}
        <h2>Select your circuit:</h2>
    {% else %}
        <h2>Available circuits</h2>
    {% endif %}
</div>

<div>
    {% include 'pagination.html' %}
    <div class="tracks-container">
        {% for track in page_obj %}
        <div class="tracks-item">
            <div>
                {% for image in track.gallery_image_urls %}
                    {% if booking %}
                        <img src="{{ image }}" alt="" width="500">
                    {% else %}
                        <a href="{% url 'tracks:details' track.id %}">
                            <img src="{{ image }}" alt="" width="500">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <strong>{{ track.name }}</strong>, located in {{ track.location }}
                {% if booking %}
                    {% if track.available %}
                    <a href="{% url 'bookings:add_track_to_cart' track.id %}" style="text-decoration: none;">
                        <button class="long-button lights-on">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Book this track
                        </button>
                    </a>
                    {% else %}
                        <a href="" style="text-decoration: none;">
                            <button class="long-button btn-warning" style="cursor: not-allowed;" disabled>Fully booked!</button>
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'tracks:details' track.id %}" style="text-decoration: none;">
                        <button class="long-button">Track details</button>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}