{% extends 'base.html' %}


{% block title %}
    <title>Circuit selection</title>
{% endblock %}

{% block content %}
<div class="container">
        <div>
            <h2 class="main">Available circuits</h2>
            <br>
                {% if booking %}
                    <h5>Select your circuit:</h5>
                {% endif %}
        </div>

    <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                   <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}
                    <li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
        {% endif %}
    </ul>
    </nav>
        <div>
            <ul>
                {% for track in page_obj %}
                    {% for image in track.gallery_image_urls %}
                        {% if booking %}
                            <img src="{{ image }}" alt="" width="500">
                        {% else %}
                            <a href="{% url 'tracks:details' track.id %}">
                                <img src="{{ image }}" alt="" width="500">
                            </a>
                        {% endif %}
                    {% endfor %}
                        <li style="margin-bottom: 10px;" class="col-12">
                        <div>
                            <strong>{{ track.name }}</strong>, located in {{ track.location }}
                            {% if booking %}
                                {% if track.available %}
                                <a href="{% url 'bookings:add_track_to_cart' track.id %}">
                                    <button class="btn btn-info">Book this track</button>
                                </a>
                                {% else %}
                                    <a href="">
                                        <button class="btn btn-warning">Fully booked!</button>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'tracks:details' track.id %}">
                                    <button class="btn btn-secondary">Track details</button>
                                </a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
</div>
{% endblock %}