/* Checkout styles */
.checkout-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}

.checkout-item {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    box-shadow: 0 1px 48px #d8dbdd;
    margin: 5px 10px;
    padding: 5px;
}

/* My bookings */
.mybookings-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.mybookings-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    margin: 10px;
}

table, th, td {
    border: 1px solid rgb(192, 192, 192);
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    background-color: #ffffff9d;
    text-align: center;
  }
  
.booking-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
