{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>My bookings</title>
{% endblock %}

{% block content %}
<style>
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
    }
    th, td {
      background-color: #ffffff;
    }
</style>-
    <body style="background-image: url(//localhost:8000/static/cars/images/wallpapers/win.jpg)">
    <h2 class="main" style="color: white">My bookings</h2>
    <br>
        <form method="POST" action="{% url 'bookings:all' %}">
            <input type="text" name="q" value="{{request.POST.q}}" placeholder="Search bookings"/>
            <button class="btn btn-secondary" type="submit">Search</button>

            {% csrf_token %}
        </form>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.paginator.num_pages > 1 %}
                    {% if page_obj.has_previous %}
                       <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                    {% endif %}
                        <li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}
            {% endif %}
        </ul>
    </nav>
        <div>

            <table style="width:60%;">
                <tr>
                    <th>Booking number</th>
                    <th>Track</th>
                    <th>Car</th>
                    <th>Booked date</th>
                    <th>Booking status</th>
                    <th>Details</th>
                </tr>
            {% for booking in page_obj %}
                <tr>
                    <td>{{ booking.booking_number }}</td>
                    <td>{{ booking.track }}</td>
                    <td>{{ booking.car }}</td>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.status }}</td>
                    <td>
                        <a href="{% url 'bookings:details' booking.id %}">
                        <button class="btn btn-secondary">Order details</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>


        </div>

    </body>


{% endblock %}