{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>My bookings</title>
{% endblock %}

{% block content %}

<body style="background-image: url({% static 'cars/images/wallpapers/win.jpg' %})">
    <h2 class="title">My bookings</h2>
    <br>
    {% include 'pagination.html' %}
    <div class="mybookings-container">
        <div class="mybookings-item">
            <a href="{% url 'bookings:export_to_csv' %}" style="text-decoration: none;">
                <button class="long-button" style="margin: 0%;">Export all bookings to csv</button>
            </a>
        </div>
        <div class="mybookings-item">
            <table style="width:60%;">

                <tr>
                    <th>Booking number</th>
                    <th>Track</th>
                    <th>Car</th>
                    <th>Booked date</th>
                    <th>Booking status</th>
                    <th>Details</th>
                </tr>
            {% for booking in page_obj %}
                <tr>
                    <td>{{ booking.booking_number }}</td>
                    <td>{{ booking.track }}</td>
                    <td>{{ booking.car }}</td>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.status }}</td>
                    <td>
                        <a href="{% url 'bookings:details' booking.id %}" style="text-decoration: none;">
                            <button class="long-button" style="width: 150px;">Order details</button>
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</body>


{% endblock %}