{% extends 'base.html' %}

{% block title %}
    <title>Checkout</title>
{% endblock %}

{% block content %}
<div class="title">
    <h2>Booking details</h2>
</div>
<br>
    <div class="checkout-container">
        {% if not car and not track %}
            <h4>No booking in progress.</h4>
        {% else %}
            {% if track %}
                <div class="checkout-item">
                    {% for image in track.first_image_url %}
                        <img src="{{ image }}" alt="" height="180px">
                    {% endfor %}
                    <br>
                    <p><strong>Selected track: </strong>{{ track.name }} - {{ track.location }}</p>
                        <form method="post" action="{% url 'bookings:remove_track_from_cart' track.id %}">
                            {% csrf_token %}
                            <input class="long-button red-button" type="submit" value="Remove"/>
                        </form>
                </div>
            {% endif %}

            {% if car %}
                <div class="checkout-item" style="display: flex; justify-content: space-between; padding-top: 80px;">
                    {% for image in car.image_urls %}
                        <img src="{{ image }}" alt="car_image" height="100px">
                    {% endfor %}
                    <p><strong>Selected car: </strong>{{ car.name }}</p>
                    <br>
                    <form method="post" action="{% url 'bookings:remove_car_from_cart' car.id %}">
                        {% csrf_token %}
                        <input class="long-button red-button" type="submit" value="Remove"/>
                    </form>
                </div>

            {% endif %}
            <div class="checkout-item">
                {% if car %}
                    <p><strong>Total cost: </strong>{{ car.rate }} EUR/session</p>
                {% endif %}

                {% if track %}
                    <p><strong>Booking date: </strong>{{ track.race_day }}</p>
                {% endif %}
            </div>            
        {% endif %}
    </div>
    <br>
    {% if car and track %}
        <div style="display: flex; justify-content: center;">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="lights-on" style="height: 70px; width: 350px; font-size: 17px;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Confirm booking
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}