{% extends 'base.html' %}

{% block title %}
    <title>F1 experience</title>
{% endblock %}

{% block content %}
    <h2 class="main">Constructors list:</h2>
<div>
     <div class="pagination">
            {% if page_obj.paginator.num_pages > 1 %}
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            {% endif %}
        </div>
    <div class="row">
        <div>
            <ul>

                {% for car in page_obj %}
                    {% for image in car.image_urls %}
                        <img src="{{ image }}" alt="">
                    {% endfor %}
                        <li style="margin-bottom: 10px;" >
                        <div>
                            <p>
                                Team: <strong>{{ car.name }}</strong>
                                Power unit: <strong> {{ car.power_unit }}</strong>
                                Handling: <strong>{{ car.handling }}/10</strong>
                                <a href="{% url 'cars:details' car.id %}">More details</a>
                            </p>
                        </div>
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
