{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>F1 experience</title>
{% endblock %}

{% block content %}

<div class="cars-container">
    <div class="cars-content">
        <h2 class="title">Constructors list:</h2>
        <br>
        {% include 'pagination.html' %}

        <div class="cars-list">
            {% for car in page_obj %}
            <div class="cars-item">
                <div>
                    {% for image in car.image_urls %}
                        {% if booking %}
                            <img src="{{ image }}" alt="Car image" width="432px">
                        {% else %}
                            <a href="{% url 'cars:details' car.id %}">
                                <img src="{{ image }}" alt="Car details" width="432px">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <div>
                    <p style="text-align: center; align-content: center;">
                        Team: <strong>{{ car.name }}</strong>
                        Power unit: <strong> {{ car.power_unit }}</strong>
                        Handling: <strong>{{ car.handling }}/10</strong>
                        <br>
                        Rate: {{ car.rate }} EUR per session
                    </p>
                    <div style="display: flex; justify-content: center;">
                        {% if booking %}
                            {% if car in available_cars %}
                                <a href="{% url 'bookings:add_car_to_cart' car.id %}" style="text-decoration: none;">
                                    <button class="lights-on">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        Book this car
                                    </button>
                                </a>
                            {% else %}
                                <a href="" style=" text-decoration: none;">
                                    <button class="long-button btn-warning" style="cursor: not-allowed;" disabled>Fully booked!
                                    </button>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'cars:details' car.id %}" style="text-decoration: none;">
                                <button class="long-button">More details</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if not booking %}
    <div class="card cars-filters">
        <div class="card-body">
            <form method="get" action="{% url 'cars:all' %}">
                {{ form.as_p}}
                <input type="submit" value="Apply filters" class="btn btn-info" style="display: block; margin: 5px auto; padding: 1px 70px;"/>
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
