{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles/two-column-layout.css' %}">

{% block title %}
    <title>F1 experience</title>
{% endblock %}

{% block content %}

<h2 class="main">Constructors list:</h2>
<br>
<div class="container">
    <div class="row" style="display: flex;">
        {% if not booking %}
            <div class="column" style="flex: 50%">
                <form method="get" action="{% url 'cars:all' %}">
                    {{ form.as_p }}
                    <input type="submit" value="Apply filters" />
                </form>
            </div>
        {% else %}
            <h4>Select the desired car and click on the "Book now" button:</h4>
        {% endif %}
    </div>
     <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                   <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}
                    <li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
        {% endif %}
    </ul>
    </nav>

    <ul class="row">
        <li style="margin-bottom: 10px;" class="col-12">
        {% for car in page_obj %}
            <div class="col-12">
                {% for image in car.image_urls %}
                    {% if booking %}
                        <img src="{{ image }}" alt="Car details">
                    {% else %}
                        <a href="{% url 'cars:details' car.id %}">
                            <img src="{{ image }}" alt="Car details">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
                <div>
                    <p>
                        Team: <strong>{{ car.name }}</strong>
                        Power unit: <strong> {{ car.power_unit }}</strong>
                        Handling: <strong>{{ car.handling }}/10</strong>
                        Rate: {{ car.rate }} EUR per session

                        {% if booking %}
                            <a href="{% url 'cars:add_to_cart' car.id %}">
                                <button class="btn btn-info">Book this car</button>
                            </a>
                        {% else %}
                            <a href="{% url 'cars:details' car.id %}">
                                <button class="btn btn-secondary">More details</button>
                            </a>
                        {% endif %}
                    </p>
                </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
