{% extends 'base.html' %}

{% block title %}
    <title>Team</title>
{% endblock %}

{% block content %}
<div>
    <ul>
        {% for image in car.gallery_image_urls %}
            <img src="{{ image }}" width="1000px" alt="main">
        {% endfor %}
    </ul>
</div>
    <div class="container">
        <p><strong>Name:</strong> {{ car.name }}</p>
        <p><strong>Cost per lap:</strong> {{ car.price_per_lap }} EUR</p>
        <p><strong>Power unit:</strong> {{ car.power_unit }}</p>
        <p><strong>Handling: </strong>{{ car.handling }}/10</p>
    </div>
{% endblock %}
