{% extends 'base.html' %}

{% block title %}
    <title>{{ car.name }}</title>
{% endblock %}

{% block content %}
<div>
    <h3 class="title">{{ car.name }}</h3>
    <br>
    <button class="long-button" style="padding: 1px 20px;">
        <a href="{% url 'cars:all' %}" style=" text-decoration: none; color: white;">Back to list view</a>
    </button>
</div>
<div class="cars-details">

    <div class="cars-content">
        {% include 'cars/car_gallery.html' %}
    </div>
    <div class="card cars-description">
        <div class="card-body">
            <p><strong>Category:</strong> {{ car.category.name }}</p>
            <p><strong>Team name:</strong> {{ car.name }}</p>
            <p><strong>Power unit:</strong> {{ car.power_unit }}</p>
            <p><strong>Handling: </strong>{{ car.handling }}/10</p>
            <p><strong>Rate:</strong> {{ car.rate }} EUR per session</p>
            {% if request.user.is_authenticated %}
                <p>Times booked so far: {{ car.bookings.all.count }}</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
