{% extends 'base.html' %}

{% block title %}
    <title>{{ car.name }}</title>
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="main">{{ car.name }}</h3>
    <br>
    <a href="{% url 'cars:all' %}">
        <button class="btn btn-primary">Back to list view</button>
    </a>
    <div>
        <ul>
            {% for image in car.gallery_image_urls %}
                <img src="{{ image }}" width="1000px" alt="main">
            {% endfor %}
        </ul>
    </div>
        <div class="container">
            <p><strong>Category:</strong> {{ car.category.name }}</p>
            <p><strong>Team name:</strong> {{ car.name }}</p>
            <p><strong>Power unit:</strong> {{ car.power_unit }}</p>
            <p><strong>Handling: </strong>{{ car.handling }}/10</p>
            <p><strong>Rate:</strong> {{ car.rate }} EUR per session</p>
        </div>
        {% if request.user.is_authenticated %}
        <div>
            <h5>Times booked so far: {{ car.bookings.all.count }}</h5>

        </div>
        {% endif %}
</div>
{% endblock %}
