{% extends 'base.html' %}

{% block title %}
    <title>User login</title>
{% endblock %}

{% block content %}
<h4 class="title">User login</h4>
<div class="container p-5" align="center">
    <h5>Login to access your details</h5>
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Email address</label>
            <input type="text" name="email" placeholder="Enter your email address"/>
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password"/>

        </div>
        <br>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <br>
    <div>
        <h5>Social login options</h5>
        <p>
            <a href="{% url 'users:social:begin' 'github' %}">Login with GitHub</a>
        </p>
        <p>
            <a href="{% url 'users:social:begin' 'facebook' %}">Login with Facebook</a>
        </p>
        <p>
            <a href="{% url 'users:social:begin' 'google-oauth2' %}">Login with Google</a>
        </p>
    </div>
</div>
{% endblock %}