{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>My profile</title>
{% endblock %}

{% block content %}
<body style="background-image: url({% static 'cars/images/wallpapers/win.jpg' %})">
    <h2 class="title" style="color: white">Profile details</h2>
    <br>
    <div style="display: flex;">
        <div class="profile-item" style="color: rgb(0, 0, 0);">
            <img src="{{ request.user.profile.image_url }}" width="300px"  alt="profile image"/>
            <form method="post" action="{% url 'users:profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="long-button" type="submit" value="Upload" />
            </form>
        </div>
        <div class="profile-item" style="text-align: center;">
            <strong>
                <p>First name: {{ request.user.first_name }}</p>
                <p>Last name: {{ request.user.last_name }}</p>
                <p>Email: {{ request.user.email }}</p>
            </strong>
        </div>
    </div>
</body>
{% endblock %}