{% extends 'base.html' %}
{% load static %}
{% include 'random_fact.html' %}

{% block title %}
<head>
    <title>F1 experience</title>
    <link rel="icon" type="image/x-icon" href="{% static 'cars/images/logos/favicon.ico' %}">
</head>
{% endblock %}

{% block content %}
<div class="main">
    <body style="background-image: url(//localhost:8000/static/cars/images/wallpapers/win.jpg)">
        <div style="color: white">
            <h2>
                <img src="{% static 'cars/images/logos/F1-logo-red.png' %}" width="75"  alt=""/>
                <span>{{ title }}</span>
            </h2>
            <div class="container">
                <h4 style="color: white">Most wanted:</h4>
                <ul>
                    {% for key, value in top_5.items %}
                        <li style="margin-bottom: 0px;">
                            <strong>{{ key }}</strong>: {{ value }} rentals
                        </li>
                    {% endfor %}
                </ul>
                <div>
                    <h5>Latest bookings</h5>
                    <ul>
                        {% for booking in latest_bookings %}
                            <li>
                                {{ booking.id }} - {{ booking.car }} - {{ booking.track }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% block random_fact %}

                    <p><strong>Random F1 fact:</strong> {{ random_fact }}</p>
                {% endblock random_fact %}
                <div>
                    <h5>Wanna see what it's like for an amateur to drive an F1 car?</h5>
                    <iframe width="650" height="350" src="https://www.youtube.com/embed/kEP9R-osh7o" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </body>
</div>
{% endblock %}