{% extends 'base.html' %}
{% load static %}


{% block title %}
<head>
    <title>F1 experience</title>
</head>
{% endblock %}

{% block content %}

    <div class="hp-container">
        <span>
            <img src="/static/cars/images/wallpapers/win.jpg" alt="" style="width: 100vw;">
        </span>
        <div class="hp-title-container">
            <div class="hp-title">
                <h2 style="font-size: 4em; font-weight: 700;">
                    <img src="{% static 'cars/images/logos/F1-logo-red.png' %}" width="150px"  alt=""/>
                    <span>{{ title }}</span>        
                </h2>
            </div>
            <div style="position: absolute; top: 200px; left: 45%;">
                <a href="{% url 'bookings:create' %}" style="text-decoration: none;">
                    <button class="lights-on" style="height: 65px;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Starts right here!
                    </button>
                </a>
            </div>
        </div>
        <div class="hpcard-holder">
            <div class="hp-card">
                <h4>Most wanted:</h4>
                <ul>
                    {% for key, value in top_5.items %}
                        <li style="margin-bottom: 0px;">
                            <strong>{{ key }}</strong>: {{ value }} rentals
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="hp-card">

            <h5>Sneak peak into the action</h5>
            <iframe width="550" height="350" src="https://www.youtube.com/embed/kEP9R-osh7o" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="hp-card">
                {% block random_fact %}
                {% autoescape on %}
                <h5>Random F1 fact:</h5>
                {{ random_fact }}</p>
                {% endautoescape %}
            {% endblock random_fact %}
            </div>
        </div>
    </div>


{% endblock %}