{% load static %}
{% load cart %}

<link rel="stylesheet" href="{% static 'styles/menu.css' %}">
<link rel="stylesheet" href="{% static 'styles/form_inline.css' %}">

<div class="topnav">
    <nav>
        <a href="/">Homepage</a>
        <a href="{% url 'cars:all' %}">Teams</a>
        <a href="{% url 'tracks:all' %}">Tracks</a>
        <a href="{% url 'bookings:create' %}">Start booking process</a>

        <div class="topnav-right">
            {% if request.user.is_authenticated %}
                {% cart_link request.session %}
                <a href="{% url 'bookings:all' %}">My bookings</a>
                <a href="{% url 'users:profile' %}">My profile</a>
                <a href="{% url 'users:profile' %}">Welcome, {{ user.first_name }}! <img src="{{ request.user.profile.image_url }}" width="20px"  alt="profile image"></a>
                <a href="{% url 'users:logout' %}">Logout</a>
                {% if request.user.is_superuser or request.user.is_staff %}
                    <a href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Register</a>
                <a href="{% url 'users:password_reset' %}">Forgot password?</a>
            {% endif %}
        </div>
        <form class="d-flex" method="POST" action="{% url 'search' %}">
            <input class="form-control me-2" type="text" name="q" value="{{request.POST.q}}" placeholder="Search site" required />
            <button class="btn btn-secondary" type="submit">Search</button>

            {% csrf_token %}
        </form>
    </nav>
</div>
