<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .grow {
            padding: 5px 5px 5px 5px;
            border-radius:10px;
                height: 50px; 
                width: 22%; 
                margin: 5px 1% 5px 1%; 
                float: left; 
                position: relative; 
                transition:height 0.5s; 
                -webkit-transition:height 0.5s; 
                text-align: center;

        }
        .grow:hover {
            height: 115px; /* This is the height on hover */
        }

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="grow" style="background-color: #2a75a9;">
        <h2>Title</h2> <br>
        Contrary to popular belief, Lorem Ipsum is not simply random text.  It has roots in a piece of classical Latin literature
    </div>
</body>
</html>