.cars-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;

}

.cars-content {
    width: 70%;
    margin: 0 auto;
}

.cars-list {
    display: flex;
    flex-wrap: wrap;
}

.cars-item {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    box-shadow: 0 1px 48px #d8dbdd;
    margin: 5px 10px;
    padding: 5px;
}

.cars-filters {
    width: 18rem;
    margin: 200px auto;
    /* z-index: -1; */
}

.cars-details {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;
}

.cars-description {
    width: 25rem;
    margin: 0 auto;
    align-self: center;
}



